streamlit
langchain
langchain-community
langchain-cohere
cohere
unstructured
unstructured[pdf]
unstructured[docx]
openai
chromadb
tiktoken
unstructured[all]
tabulate
pandas
transformers
torch
sentence-transformers
nltk